@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Neon Signs</h1>
<nav>
    <a href="/Home/Signs">View All Signs</a>
    <a href="/Home/Prices">View Prices</a>
    <a href="/Customize/Index">Customize Your Sign</a>
    <a href="/Home/Contact">About & Contact</a>
</nav>
